body {
	font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 12pt;
}

@media screen and (min-width: 768px) {
	body {
		height: 100%;
		width: 100%;
	}
	.container-outer {
		width: 100%;
		position: absolute;
		top: 50%;
		left: 0px;
	}
	.container-inner {
		width: 400px;
		margin: -240px auto 0;
	}
}

h1 {
	width: auto;
	background-color: #094066;
	color: #fff;
	padding: 8px 16px;
	-moz-border-radius: 3px 3px 0 0;
	border-radius: 3px 3px 0 0;
	margin: 0;
}

h2 {
	color: #094066;
	font-size: 1em;
	margin: 0px
	padding: 4px;
}

p {
	padding: 0;
}

.content {
	background-color: #fff;
}

.content > div {
	width: 100%;
	height: 100%;
}

div.padded {
	padding: 16px;
}

.content button {
	background-color: #094066;
	color: #fff;
	padding: 8px;
	border: none;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
.info button#generate {
	background: #fff;
	color: #094066;
	border: 1px solid #094066;
}
.info button#remove {
	background: #fff;
	color: #880000;
	border: 1px solid #880000;
}

a:hover, a:link, a:visited, a:active {
	color: #3399FF;
	text-decoration: none;
}

.right {
	line-height: 1em;
	float: right;
	font-size: 0.5em;
}

.menu-container {
	background-color: #ccc;
	padding: 0;
	overflow: hidden;
	-moz-border-bottom-left-radius: 3px;
	border-bottom-left-radius: 3px;
	font-size: 0.9em;
}
.info {
	margin: 0 0 0 10px;
	-moz-border-bottom-right-radius: 3px;
	border-bottom-right-radius: 3px;
}
@media screen and (min-width: 768px) {
	.content {
		height: 480px;
		-moz-box-shadow: 0 0 20px #3399FF;
		-webkit-box-shadow: 0 0 20px #3399FF;
		box-shadow: 0 0 20px #3399FF;
		-moz-border-radius: 3px;
		border-radius: 3px;
	}
	.menu-container {
		float: left;
		height: 425px;
		width: 195px;
		overflow: scroll;
	}
	.info {
		float: left;
		width: 195px;
		height: 425px;
		overflow: scroll;
	}
}
.templates {
	visible: hidden;
	display: none;
}

input[type=number] {
	width: 4em;
}
